*{
box-sizing: border-box;
margin: 0;
}

/** HEADER **/
#header-nav {
  background-color: #A9A9A9;
  border-radius: 0;
  border: 4;
  border-color: black;
  
}

.navbar-brand {
  padding-top: 20px;
  padding-left: 0px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: black;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  letter-spacing: 1.1px;
  margin-left: -5px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  background-color: #A9A9A9;
  text-align: center;

}

#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  margin-top: -50px;
  clear: both;
}
/**END HEADER**/


/**MAIN CONTENT**/

#menu-title{
  color: #951C49;
  margin-top: 30px;
}

#main-content {
  width: 100%;
}

 
 #paragraph-content {
  color: #333333;
  height: 800px;
  border: 2px solid green;
  padding: 30px 10px;
  background-color: #795548;
  float: left;
  width: 30%
  margin: 10px 0px 0px 17px;
}


#content2{
  color: #333333;
  height: 800px;
  border: 2px solid green;
  padding: 30px 10px;
  background-color: #aaa;
  float: left;
  width: 30%
  margin: 10px 0px 0px 17px;
}

#content3{
  color: #333333;
  height: 800px;
  border: 2px solid green;
  padding: 30px 10px;
  background-color:#ffff00 ;
  float: left;
  width: 30%
  margin: 10px 0px 0px 17px;

}


#content2 h2 ,#content3 h2,#paragraph-content h2{
  margin: -5px 0px 30px;
}


/********** Large devices only **********/
@media (min-width:1200px) {
  
#collapsable-nav a { /* Collapsed nav menu text */
    visibility: hidden;  
  }

  
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
#collapsable-nav a { /* Collapsed nav menu text */
    visibility: hidden;
  }
  #content3{
    margin-top: 50px;
    width: 206%;
  }
}

  
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
 #collapsable-nav a { /* Collapsed nav menu text */
    visibility: hidden;
  }

}




/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
    width: 100%;
  }
  .navbar-brand h1 { 
    padding-top: 20px;
    padding-left: 35px;
    font-size:5vw; /* 1vw = 1% of viewport width */
  }
  

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
}
  
  /* End Header */
